@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 39, 14, 71;
    --background-end-rgb: 28, 7, 64;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}




html {
    overflow: scroll;
    /* o auto si prefieres */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}



/* Estilos para inputs y selects */
select option {
    background-color: #270e47;
    color: white;
}

input,
select {
    color-scheme: dark;
}